<section id="couple" class="section-couple">
    <div class="flowers"></div>
    <h2>Couple</h2>
    <div class="bride-and-groom flex-responsive">
        <div class="groom">
            <div class="profile-pic animation-chain" data-animation="fadeInUp">
                <img src="assets/images/groom.jpg" alt="" class="animated" style="animation-delay: 0s;">
            </div>
            <h3>Sreenu</h3>
            <h4>Groom</h4>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi doloremque suscipit obcaecati odio culpa
                sint odit, labore pariatur veniam sequi eveniet vel vitae molestiae tenetur iste neque ducimus ratione
                fugit.</p>
            <ul class="social">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul> -->
        </div>
        <div class="bride">
            <div class="profile-pic animation-chain" data-animation="fadeInUp">
                <img src="assets/images/bride.jpg" alt="" class="animated" style="animation-delay: 0s;">
            </div>
            <h3>Ramya</h3>
            <h4>Bride</h4>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident neque veritatis, alias nostrum nisi
                rerum enim numquam perferendis maxime inventore commodi suscipit vero earum quam, laborum maiores.</p>
            <ul class="social">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul> -->
        </div>
    </div>
</section>