<section id="couple" class="section-couple section-border">
  <div class="flowers"></div>
  <h2 class="page-header couple-header">Couple</h2>
  <div class="bride-and-groom flex-responsive">
    <div class="groom">
      <div class="profile-pic animation-chain" data-animation="fadeInUp">
        <img src="assets/images/groom.jpg" alt="" class="animated" style="animation-delay: 0s;">
      </div>
      <h3 class="hit-the-floor">Srinivas</h3>
      <h4>The Groom</h4>
      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi doloremque suscipit obcaecati odio culpa
                sint odit, labore pariatur veniam sequi eveniet vel vitae molestiae tenetur iste neque ducimus ratione
                fugit.</p>
            <ul class="social">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul> -->
    </div>
    <div class="bride">
      <div class="profile-pic animation-chain" data-animation="fadeInUp">
        <img src="assets/images/bride.jpg" alt="" class="animated" style="animation-delay: 0s;">
      </div>
      <h3 class="hit-the-floor">Ramya</h3>
      <h4>The Bride</h4>
      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident neque veritatis, alias nostrum nisi
                rerum enim numquam perferendis maxime inventore commodi suscipit vero earum quam, laborum maiores.</p>
            <ul class="social">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul> -->
    </div>
  </div>

  <div class="container">
    <div class="bird-container bird-container--one">
      <div class="bird bird--one"></div>
    </div>

    <div class="bird-container bird-container--two">
      <div class="bird bird--two"></div>
    </div>

    <div class="bird-container bird-container--three">
      <div class="bird bird--three"></div>
    </div>

    <div class="bird-container bird-container--four">
      <div class="bird bird--four"></div>
    </div>
  </div>
</section>
