<section id="events" class="section-events">
    <h2>Events</h2>

    <ul class="event-list">
        <li class="flex-responsive">
            <div class="event-thumbnail" style="background-image: url(&quot;assets/images/wedding.jpg&quot;);"></div>
            <div class="event-details animation-chain" data-animation="fadeInUp">
                <h3 class="animated" style="animation-delay: 0s;">Wedding Ceremony</h3>
                <ul class="event-info animated" style="animation-delay: 0.1s;">
                    <li><span class="lnr lnr-map-marker"></span>Bengaluru</li>
                    <li><span class="lnr lnr-clock"></span>9:30AM - 10:30AM, November 10, 2019</li>
                </ul>
                <div class="desc animated" style="animation-delay: 0.2s;">
                    <p>We like everything on the wedding day be perfect!
                            Join us for celebration.</p>
                </div>
                <div class="cta animated" style="animation-delay: 0.3s;">
                    <a href="#" class="btn btn-primary">Get Driving Directions</a>
                </div>
            </div>
        </li>
        <li class="flex-responsive">
            <div class="event-thumbnail" style="background-image: url(&quot;assets/images/reception.jpg&quot;);"></div>
            <div class="event-details animation-chain" data-animation="fadeInUp">
                <h3 class="animated" style="animation-delay: 0s;">Reception</h3>
                <ul class="event-info animated" style="animation-delay: 0.1s;">
                    <li><span class="lnr lnr-map-marker"></span>Bengaluru</li>
                    <li><span class="lnr lnr-clock"></span>10:30AM - 02:30PM, November 10, 2019</li>
                </ul>
                <div class="desc animated" style="animation-delay: 0.2s;">
                    <p>We like everything on the wedding day be perfect!
                            Join us for celebration.</p>
                </div>
                <div class="cta animated" style="animation-delay: 0.3s;">
                    <a href="#" class="btn btn-primary">Get Driving Directions</a>
                </div>
            </div>
        </li>
    </ul>
</section>