<section id="events" class="section-events section-border">
  <h2 class="page-header">Events</h2>

  <hr>
  <div class="d-flex align-items-center recording-notification">
    <button class="rec live-button">Recording</button> Live link will be available on 8th November
  </div>
  <hr>


  <ul class="event-list">
    <li class="flex-responsive">
      <div class="event-thumbnail" style="background-image: url(&quot;assets/images/reception.jpg&quot;);"></div>
      <div class="event-details animation-chain" data-animation="fadeInUp">
        <h3 class="animated" style="animation-delay: 0s;">Reception</h3>
        <ul class="event-info animated" style="animation-delay: 0.1s;">
          <li class="d-flex align-items-center mb-3">Saturday</li>
          <li class="d-flex align-items-center"><i class="material-icons pr-2">access_alarm </i>07:00 P.M., November 09,
            2019</li>
        </ul>
      </div>
    </li>
    <li class="flex-responsive">
      <div class="event-thumbnail" style="background-image: url(&quot;assets/images/wedding.jpg&quot;);"></div>
      <div class="event-details animation-chain" data-animation="fadeInUp">
        <h3 class="animated" style="animation-delay: 0s;">Wedding Ceremony</h3>
        <ul class="event-info animated" style="animation-delay: 0.1s;">
          <li class="d-flex align-items-center mb-3">Sunday</li>
          <li class="d-flex align-items-center">
            <i class="material-icons pr-2">access_alarm </i>
            07:08 A.M., November 10, 2019
          </li>
        </ul>

      </div>
    </li>

    <li class="flex-responsive d-flex-row">
      <div class="desc animated" style="animation-delay: 0.2s;">
        <p>We like everything on the wedding day to be perfect!
          Join us for celebration.</p>
      </div>
      <span class="d-flex justify-content-center mb-3 location"><i class="material-icons pr-2"> location_city </i>Kamma
        Bhavan, Anantapur City
      </span>
      <div class="cta animated button-container text-align-center;" style="animation-delay: 0.3s;">
        <a href="https://goo.gl/maps/3jmQNGqezHssiQsT9" target="_blank">
          <button class="glow-on-hover">Get Driving Directions</button>
        </a>
      </div>
    </li>


  </ul>
</section>
