<section id="gallery" class="gallery">

        <h2 class="page-header">Gallery</h2>

    <!-- <ngx-tiny-slider [config]="tinySliderConfig">
        <ng-container class="items">
            <div class="item">
                <a target="_blank" href="assets/images/1.jpg">
                    <img src="assets/images/1.jpg">
                </a>
            </div>

            <div class="item">
                <a target="_blank" href="assets/images/2.jpg">
                    <img src="assets/images/2.jpg">
                </a>
            </div>

            <div class="item">
                <a target="_blank" href="assets/images/3.jpg">
                    <img src="assets/images/3.jpg">
                </a>
            </div>

            <div class="item">
                <a target="_blank" href="assets/images/4.jpg">
                    <img src="assets/images/4.jpg">
                </a>
            </div>

            <div class="item">
                <a target="_blank" href="assets/images/5.jpg">
                    <img src="assets/images/5.jpg">
                </a>
            </div>
        </ng-container>
    </ngx-tiny-slider> -->


    <div id="nanogallery2"></div>
</section>