<main>
  <div class="home" id="home">
    <div style="position: absolute;">
      <ngx-tiny-slider [config]="tinySliderConfig">
        <ng-container class="items">
          <div class="item">
            <a>
              <img src="assets/images/1.jpg">
            </a>
          </div>

          <div class="item">
            <a>
              <img src="assets/images/2.jpg">
            </a>
          </div>

          <div class="item">
            <a>
              <img src="assets/images/3.jpg">
            </a>
          </div>

          <div class="item">
            <a>
              <img src="assets/images/4.jpg">
            </a>
          </div>

          <div class="item">
            <a>
              <img src="assets/images/5.jpg">
            </a>
          </div>
        </ng-container>
      </ngx-tiny-slider>

    </div>

    <div class="announcement-wrapper">
      <div class="announcement animation-chain" data-animation="fadeInUp">
        <div class="heart">
          <img src="assets/images/small-heart.png">
        </div>

        <!-- <div class="heart animated" style="animation-delay: 0s;">


         <svg width="38px" height="35px" viewBox="0 0 38 35">
            <use class="shape-heart" xlink:href="assets/images/heart.svg#shape-heart"></use>
          </svg>
        </div> -->
        <div class="decor decor-inverse animated" style="animation-delay: 0.1s;">
          <svg width="281px" height="51px" viewBox="0 0 281 51">
            <use class="shape-decor" xlink:href="./assets/images/decor.svg#shape-decor"></use>
          </svg>
        </div>
        <h2 class="animated" style="animation-delay: 0.2s;">We're getting married!</h2>
        <h1 class="animated" style="animation-delay: 0.3s;"><span class="name">Sreenu</span><span class="and">&nbsp;
            &amp; &nbsp;</span><span class="name">Ramya</span></h1>
        <!-- <p class="date animated" style="animation-delay: 0.4s;">
          <span>10-11-2019</span>
        </p> -->

        <h2 class="wedding-date">
          <span class="wedding-date-borders">November 10, 2019 in Bengaluru </span>
        </h2>

        <div class="decor animated" style="animation-delay: 0.5s;">
          <svg width="281px" height="51px" viewBox="0 0 281 51">
            <use class="shape-decor" xlink:href="./assets/images/decor.svg#shape-decor"></use>
          </svg>
        </div>

        <div id="default-countdown" class="is-countdown">
          <span class="countdown-row countdown-show3">
            <span class="countdown-section">
              <span class="countdown-amount">{{days | number:'2.0-0'}}</span>
              <span class="countdown-period">Days</span>
            </span>
            <span class="countdown-section">
              <span class="countdown-amount">{{hours | number:'2.0-0'}}</span>
              <span class="countdown-period">Hours</span>
            </span>
            <span class="countdown-section">
              <span class="countdown-amount">{{minutes | number:'2.0-0'}}</span>
              <span class="countdown-period">Minutes</span>
            </span>
            <span class="countdown-section">
              <span class="countdown-amount">{{seconds | number:'2.0-0'}}</span>
              <span class="countdown-period">Seconds</span>
            </span>
          </span>
        </div>


      </div>
    </div>
  </div>

  <app-couple></app-couple>
  <app-gallery></app-gallery>
  <app-events></app-events>
</main>