#home .wedding-date {
  text-align: center;
  font-family: "fira sans", sans-serif;
  width: 100%;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.wedding-date {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 200;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .wedding-date:before {
    content: '';
    width: 32px;
    height: 32px;
    background: url(../assets/images/icons/ico-bird-r.png) no-repeat center center;
    display: inline-block;
    position: relative;
    top: 8px;
    margin-right: 0px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    left: 0;
  }
}

@media (min-width: 768px) {
  .wedding-date:after {
    content: '';
    width: 32px;
    height: 32px;
    background: url(../assets/images/icons/ico-bird-l.png) no-repeat center center;
    display: inline-block;
    position: relative;
    top: 8px;
    margin-left: 0px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    right: 0;
  }
}

.wedding-date .wedding-date-borders {
  display: inline-block;
}

.wedding-date .wedding-date-borders:before {
  content: '';
  display: inline-block;
  border-top: 1px solid #ffffff;
  margin-right: 5px;
  height: 6px;
  opacity: 0.8;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

@media (min-width: 768px) {
  .wedding-date .wedding-date-borders:before {
    width: 60px;
  }
}

.wedding-date .wedding-date-borders:after {
  content: '';
  display: inline-block;
  border-top: 1px solid #ffffff;
  margin-left: 5px;
  height: 6px;
  opacity: 0.8;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

@media (min-width: 768px) {
  .wedding-date .wedding-date-borders:after {
    width: 60px;
  }
}

.wedding-date:hover:before {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  top: 3px;
}

.wedding-date:hover .wedding-date:after {
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
  top: 3px;
}

@media (min-width: 768px) {
  .wedding-date:hover .wedding-date-borders:before {
    margin-right: 22px;
  }
}

@media (min-width: 768px) {
  .wedding-date:hover .wedding-date-borders:after {
    margin-left: 22px;
  }
}


.editorial {
  display: block;
  width: 100%;
  height: 60px;
  max-height: 60px;
  margin: 0;
  z-index: 5;
  bottom: 0;
  position: absolute;
  left: 0px;
  float: left;
}

.parallax1>use {
  animation: move-forever1 10s linear infinite;

  &:nth-child(1) {
    animation-delay: -2s;
  }
}

.parallax2>use {
  animation: move-forever2 8s linear infinite;

  &:nth-child(1) {
    animation-delay: -2s;
  }
}

.parallax3>use {
  animation: move-forever3 6s linear infinite;

  &:nth-child(1) {
    animation-delay: -2s;
  }
}

.parallax4>use {
  animation: move-forever4 4s linear infinite;

  &:nth-child(1) {
    animation-delay: -2s;
  }
}

@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }

  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever3 {
  0% {
    transform: translate(85px, 0%);
  }

  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever4 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}


/* customizable snowflake styling */
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%
  }

  100% {
    top: 100%
  }
}

@-webkit-keyframes snowflakes-shake {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }

  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px)
  }
}

@keyframes snowflakes-fall {
  0% {
    top: -10%
  }

  100% {
    top: 100%
  }
}

@keyframes snowflakes-shake {

  0%,
  100% {
    transform: translateX(0)
  }

  50% {
    transform: translateX(80px)
  }
}

.snowflake {
  position: absolute;
  top: -10%;
  height: 100vh;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, .5s;
  animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
  left: 65%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
  left: 55%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s
}

.snowflake:nth-of-type(10) {
  left: 25%;
  -webkit-animation-delay: 2s, 0s;
  animation-delay: 2s, 0s
}

.snowflake:nth-of-type(11) {
  left: 65%;
  -webkit-animation-delay: 4s, 2.5s;
  animation-delay: 4s, 2.5s
}

.snowflake:nth-of-type(12) {
  left: 37%;
  animation-delay: 5s, 3.5s
}

.snowflake:nth-of-type(13) {
  left: 25%;
  -webkit-animation-delay: 2s, 0s;
  animation-delay: 2s, 0s
}

.snowflake:nth-of-type(14) {
  left: 15%;
  -webkit-animation-delay: 4s, 2.5s;
  animation-delay: 7s, 2.5s
}

.snowflake:nth-of-type(15) {
  left: 30%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 1s, 3s
}

.snowflake:nth-of-type(16) {
  left: 70%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 3s, 2s
}

.snowflake:nth-of-type(17) {
  left: 26%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 1s, 1s
}

.snowflake:nth-of-type(18) {
  left: 44%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 6s, 0s
}

.snowflake:nth-of-type(19) {
  left: 11%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 2s, 1.5s
}

.snowflake:nth-of-type(20) {
  left: 19%;
  -webkit-animation-delay: 2s, 0s;
  animation-delay: 4s, 1s
}






.hit-the-floor {
  color: #fff;
  font-size: 4em;
  font-weight: bold;
  font-family: dancing script, cursive;
}



@media (max-width: 768px) {
  .hit-the-floor {
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    font-family: dancing script, cursive;
  }
}


.live-button {
	width: 25px;
	height: 25px;
	font-size: 0;
	background-color: red;
	border: 0;
	border-radius: 25px;
	margin: 18px;
	outline: none;
}


.rec{
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes pulse{
	0%{
		box-shadow: 0px 0px 8px 0px rgba(220,0,0,.8);
	}
	65%{
		box-shadow: 0px 0px 8px 6px rgba(220,0,0,1);
	}
	90%{
		box-shadow: 0px 0px 8px 9px rgba(220,0,0,0.4);
	}
}

.recording-notification {
    justify-content: center;
    display: block;
    font-size: 3rem;
    font-family: "Prata", serif;
    margin-top: 1rem;
    margin-bottom: 1.375rem;
    font-weight: 900;
    margin-bottom: 20px;

    a {
      color: red;
    }
}



.button-container {
  margin: 20px;
  text-align: center;

  a {
    padding: 1rem;
  }
}


.glow-on-hover {
  width: 250px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(4px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}


.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.live-button-container {
  flex-direction: column;
}


@media (min-width: 768px) {
  .live-button-container {
    flex-direction: row;
  }
}

.live-button-container {
  &> a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.blinking{
  animation:blinkingText 0.8s infinite;
  font-weight: bold;
}
@keyframes blinkingText{
	0%{		color: red;	}
	49%{	color: transparent;	}
	50%{	color: transparent;	}
	80%{	color: red;	}
	100%{	color: red;	}
}

a:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}